.main{
    text-align: center;
    font-size: smaller;
    color: blue;
    margin: 100px;
    display: block;
    background-color: brown;
    border: 10px dotted;
    border-color: black;
}
.tp{
    border: 2px solid #A3BC71;
    padding: 5px 10px;
    background-color: blueviolet;
}